<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.name %>,</h2>
    <p>Find attached to this email your activation code</p> 
    <code><%= @user.activecode %></code>
    <footer>with Love from Keli </footer>
  </body>
</html>